.App{
      width: 100rem;
      margin: auto;
}
.top-bar {
      background-color: #1e1e27;
      color: #ada6bb;
      height: 4rem;
}
.Nav-bar{
      background-color:white ;
      height: 4rem;
}
.Main{
      background-color:#e3e3e3 ;

}
.image{
      background-image: url('../public/hero.webp');
     height: 20rem;
     background-attachment: scroll;
     background-position: center;
     background-size: contain;
     background-repeat: no-repeat;
     justify-content: center;
}
.btn-secondary{
      color:black
}
.btn-secondary,.bg-secondary{
      background-color: #ada6bb;
}
.btn-danger,.bg-danger{
      background-color: #FD3035;
}
.text-danger{
      color: #FD3035;
}
.rounded-circle{
      width: 5rem;
      height: 5rem;
}
